<div data-role="view" id="map-div" 
    data-init="initMap" data-stretch="true" 
    data-layout="main" data-model="APP.models.home"
    data-show="showMap">   
     <header data-role="header">
        <div data-role="navbar">
          <a data-role="button" href="#appDrawer" data-rel="drawer" data-align="left" data-icon="drawer-button"></a>
          <div id="navbar" data-role="view-title">
              <span id="childtitle">DELANIE ABARCA</span>
          </div>
          <span class="km-view-subtitle"><span id="childetatitle">ETA : 9:00 AM</span></span>               
          <a data-role="button" style="padding:0 20px;" data-rel="actionsheet" href="#actionsheet" data-align="right" data-actionsheet-context="#:childid#"><i class="fa fa-ellipsis-v"></i></a>
          <ul id="actionsheet" data-role="actionsheet" data-popup='{ "height": "auto", "width": 200, "direction": "top" }'>
            
          </ul>
          <!-- <a class="nav-button" data-align="right" data-role="button" style="padding:0 8px;"><i class="fa fa-plus"></i></a>             -->
        </div>
    </header>  
    <div id="map">    
    </div>
</div>
<script>
    var map;
    function initMap() {
        // Set up the map.
        var svPos = { lat: 37.869085, lng: -122.254775 };
        map = new google.maps.Map(document.getElementById('map'), {
            center: svPos,
            zoom: 16,
            streetViewControl: false,
            disableDefaultUI: true
        });
        createActionSheet();
        //$("#navbar").text("Cyndia Patrick");        
    }
    
	var childdata = null;
    
    function createActionSheet() {
        $.ajax({
            type: "GET",
            url: "data/bus-live-status.json",
            dataType: "json"
        }).success(function (data, code, xhr) {
            //Create and append the options
            //$("#actionsheet").data("kendoMobileActionSheet").destroy();
            childdata = data;
            var childListData = data;
            for (var i = 0; i < childListData.length; i++) {                               
                var child = childListData[i];
                var option = document.createElement("li");               
                option.innerHTML = "<a href='#' data-role='button' data-click='updateMapData' data-id='" + child.childid + "' style='border:none;'><i class='fa fa-user' style='float:left;font-size:72px;margin:0px 10px;'></i><h2 style='margin-bottom:3px;'>" + child.name +  "</h2><div><small>&nbsp;ETA : " + child.pickupeta +" | STA : " + child.pickuptime + "</small></div></a>";                
                document.getElementById('actionsheet').appendChild(option);
                
                if (i == 0) {
                    setup_map_child(child);
                }
            }
            kendo.init($("#actionsheet"), kendo.mobile.ui);            
        }).error(function (e, r, m) {
            
        });
    }
    
    function updateMapData(e) {        
        var childid = e.button.data().id;
        for (i =0; i< childdata.length; i++) {
            var data = childdata[i];
            if (data.childid == childid) {
                setup_map_child(data);
            }
        }
    }
    
    function setup_map_child(data) {
        $("#childtitle").html(data.name);
        $("#childetatitle").html("ETA : " + data.pickupeta);
        var location = new google.maps.LatLng(data.pickuploclat, data.pickuploclng);
        map.panTo(location);

        var image = 'styles/bus.png';
        var marker = new google.maps.Marker({
            position: {lat: data.pickuploclat, lng: data.pickuploclng},
            map: map,
            icon: image
        }); 

        var infostring = "<h3>" + data.name + "</h3><h4> ETA: " + data.pickupeta + "</h4>";

        var infowindow = new google.maps.InfoWindow({
            content: infostring
        });

       infowindow.open(map, marker);
    }
    
    function showMap() {
        var location = new google.maps.LatLng(37.869085, -122.254775);
        map.panTo(location);
    }

    function createChildListControl() {
        var controlDiv = document.createElement("div");
        var controlChildList = document.createElement('select');
        controlChildList.id = "childList";
        controlChildList.className = "floating-panel-map";
        var array = ["Vishal","Swapnil","Bhushan"];        
        controlDiv.appendChild(controlChildList);
               
        $.ajax({
            type: "GET",
            url: "data/bus-live-status.json",
            dataType: "json"
        }).success(function (data, code, xhr) {
            //Create and append the options
            var childListData = data;
            for (var i = 0; i < childListData.length; i++) {
                var option = document.createElement("option");
                option.value = childListData[i].childid;
                option.text = childListData[i].name + " [Route: " + childListData[i].routeno + "]";
                controlChildList.appendChild(option);
            }
            //map.controls[google.maps.ControlPosition.TOP_CENTER].push(controlDiv);            
        }).error(function (e, r, m) {
            
        });
    }
</script>
