<div data-role="view"  data-style="inset" 
    data-title="Childrens" data-layout="main" data-init="initList">
    <header data-role="header">
        <div data-role="navbar">
          <a data-role="button" href="#appDrawer" data-rel="drawer" data-align="left" data-icon="drawer-button"></a>
          <span data-role="view-title"></span>          
        </div>
    </header>  
    <div id="childrensContent">        
        <ul id="childrenList" data-role="listview" data-style="inset" class="customlist"
            data-template="tmplChildreListItem"; data-click="childItemClick" data-selectable="true">
        </ul>
    </div>
    <div data-role="footer">           
    </div>
    <script id="tmplChildreListItem" type="text/x-kendo-template">
        <div class="j-listview-item">
            <div class="j-listview-item-content">               
                <div style="margin-top: 20px; margin-left: 50%; left: 10px; position: absolute;opacity:0.03">                        
                    <i class="fa fa-user" data-align="left" style="font-size:180px; width:60px;"></i>
                </div>   
                <h2 style='margin:0px;'>#: name #               
                </h2>                            
                <h4><i class="fa fa-map-marker"></i>&nbsp;#: pickuplocation #</h4>
                <h4><i class="fa fa-calendar"></i>&nbsp;Scheduled Time #: pickuptime #</h4>
                <h4><i class="fa fa-clock-o"></i>&nbsp;ETA #: pickupeta #</h4>
            </div>
        </div>
    </script>
    <script>
        function initList() {            
            $.ajax({
                type: "GET",
                url: "data/bus-live-status.json",
                dataType: "json"
            }).success(function (data, code, xhr) {                
                var dsMyDatabase = new kendo.data.DataSource.create({ data: data })
                $("#childrenList").kendoMobileListView({ 
                    dataSource: dsMyDatabase,
                	template: $("#tmplChildreListItem").text()
            	});  
            }).error(function (e, r, m) {

            });                              
        }

        function childItemClick(e) {
            app.navigate('views/bus-location-map.html', "fade");
        }
    </script>
</div>
